{% extends "ProjectBundle::layout.html.twig" %}
{% block title %}Kategoria - {{ category.getName }}{% endblock %}

{% block content %}

<div class="header_bottom_left">				
	<div class="categories">
		<ul>
			<h3>Kategorie</h3>
			{% for category in categories %}
				<li><a href="/category/{{category.name}}">{{category.name}}</a></li>
			{% endfor %}
		</ul>
	</div>					
</div>
<div class="header_bottom_right">					 
	<div class="content_top">
		<div class="heading">
			<h3>Filmy z Kategorii {{ category.getName }}</h3>
		</div>
	<div class="clear"></div>
</div>
									
<div class="section group">

	<div class="grid_1_of_3 images_1_of_3">
		<a href="preview.html"><img src="{{ asset('bundles/project/images/1.jpg') }}" alt="" /></a>
		 <h2>Lorem Ipsum is simply </h2>
		<div class="price-details">
			<div class="price-number">
				<p><span class="rupees">0.87</span></p>
			 </div>
			<div class="add-cart">								
				<h4><a href="preview.html">Dodaj do koszyka</a></h4>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="grid_1_of_3 images_1_of_3">
		<a href="preview.html"><img src="{{ asset('1.jpg') }}" alt="" /></a>
		 <h2>Lorem Ipsum is simply </h2>
		<div class="price-details">
			<div class="price-number">
				<p><span class="rupees">0.87</span></p>
			 </div>
			<div class="add-cart">								
				<h4><a href="preview.html">Dodaj do koszyka</a></h4>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="grid_1_of_3 images_1_of_3">
		<a href="preview.html"><img src="{{ asset('3.jpg') }}" alt="" /></a>
		 <h2>Lorem Ipsum is simply </h2>
		<div class="price-details">
			<div class="price-number">
				<p><span class="rupees">9.00</span></p>
			</div>
			<div class="add-cart">								
				<h4><a href="preview.html">Dodaj do koszyka</a></h4>
			</div>
			<div class="clear"></div>
		</div>
	</div>
				
</div>		

		
			 

{% endblock %}