{% extends "ProjectBundle::layout.html.twig" %}
{% block title %}{{ movie.title }}{% endblock %}

{% block content %}
{% include 'ProjectBundle:Default:menu.html.twig' %}

<div class="header_bottom_right">					 
	<div class="content_top">
		<div class="heading">
			<h3>{{ movie.title }} </h3>
		</div>
	<div class="clear"></div>
</div>

<div class="section group">
	
	<div class="cont-desc">
				  <div class="product-details">				
					<div class="grid images_3_of_2">
						<div id="container">
						   <div id="products_example">
							   <div id="products">
								<div class="slides_container">
									<img src="{{ movie.posterURL }}" alt="{{ movie.title }}" />
								</div>

							</div>
						</div>
					</div>
				</div>
				<div class="desc span_3_of_2">
					<h2>{{ movie.title }} </h2>					
					<div class="price">
						<p>Cena: <span>{{ movie.price }}</span> PLN</p>
					</div>

				<div class="share-desc">
					<div class="button"><span><a href="{{ path('project_setCart', {'id': movie.id}) }}">Dodaj do koszyka</a></span></div>					
					<div class="clear"></div>
				</div>

			</div>
			<div class="clear"></div>
		  </div>
		<div class="product_desc">	
			<div id="horizontalTab">
				<ul class="resp-tabs-list">
					<li>Opis</li>
					<li>Nasza opinia</li>
					<li>Opinie użytkowników</li>
					<div class="clear"></div>
				</ul>
				<div class="resp-tabs-container">
					<div class="product-desc">
						<p>{{ movie.aboutmovie }}</p>					
					</div>

				 <div class="product-tags">
						 <p>{{ movie.review }}</p>


			    </div>	

				<div class="review">
					
					 <h4>Komentarze</h4>
					{% for commentvar in comments %}
						{% if commentvar.isAccepted %}
							<p>{{commentvar.comment}}</p>
						{% endif %}
					{% endfor %}
					
					<div class="clear"></div>
					<div class="your-review">
					<h4>Dodaj swój komentarz</h4>
							{{ form(formcomment) }}
					 </div>			
				</div>
			</div>
		 </div>
	 </div>
	    <script type="text/javascript">
    $(document).ready(function () {
        $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion           
            width: 'auto', //auto or any width like 600px
            fit: true   // 100% fit in a container
        });
    });
   </script>	
</div>


</div>
{% endblock %}
