{% extends "ProjectBundle::layout.html.twig" %}

{% block title %}Logowanie{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="section group">
<div class="col span_1_of_3"></div>
<div class="col span_1_of_3">
<div class="login-form">
<h2>Logowanie</h2>
{% if error %}
    <div><span>{{ error.messageKey|trans(error.messageData, 'security') }}</span></div>
{% endif %}

	<form action="{{ path("fos_user_security_check") }}" method="post">
		<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
			<div><span>Nie masz Konta? <a href="/register">Zarejestruj się</a></span></div>
			<div><span>Zapomniałeś hasła? <a href="/resetting/request">Odzyskaj je</a></span></div>
	<div>
		<span><label for="username">{{ 'security.login.username'|trans }}</label></span>
		<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="textbox" />
	</div>
	<div>
		<span><label for="password">{{ 'security.login.password'|trans }}</label></span>
		<input type="password" id="password" name="_password" required="required" class="textbox"/>
	</div>
	<div>
		<span><input type="checkbox" id="remember_me" name="_remember_me" value="on" />
		<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label></span>
	</div>
	<div>
		<span><input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="myButton" /></span>
	</div>
	</form>
		
</div>
<div class="col span_1_of_3"></div>
</div>
</div>
{% endblock fos_user_content %}
